
# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django
### Django ###
/visualshop/*.log
/visualshop/*.pot
/visualshop/*.pyc
/visualshop/__pycache__/
/visualshop/local_settings.py
/visualshop/db.sqlite3
/visualshop/db.sqlite3-journal
/visualshop/media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
/visualshop/*.py[cod]
/visualshop/*$py.class

# C extensions
/visualshop/*.so

# Distribution / packaging
/visualshop/.Python
/visualshop/build/
/visualshop/develop-eggs/
/visualshop/dist/
/visualshop/downloads/
/visualshop/eggs/
/visualshop/.eggs/
/visualshop/lib/
/visualshop/lib64/
/visualshop/parts/
/visualshop/sdist/
/visualshop/var/
/visualshop/wheels/
/visualshop/share/python-wheels/
/visualshop/*.egg-info/
/visualshop/.installed.cfg
/visualshop/*.egg
/visualshop/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/visualshop/*.manifest
/visualshop/*.spec

# Installer logs
/visualshop/pip-log.txt
/visualshop/pip-delete-this-directory.txt

# Unit test / coverage reports
/visualshop/htmlcov/
/visualshop/.tox/
/visualshop/.nox/
/visualshop/.coverage
/visualshop/.coverage.*
/visualshop/.cache
/visualshop/nosetests.xml
/visualshop/coverage.xml
/visualshop/*.cover
/visualshop/*.py,cover
/visualshop/.hypothesis/
/visualshop/.pytest_cache/
/visualshop/cover/

# Translations
/visualshop/*.mo

# Django stuff:

# Flask stuff:
/visualshop/instance/
/visualshop/.webassets-cache

# Scrapy stuff:
/visualshop/.scrapy

# Sphinx documentation
/visualshop/docs/_build/

# PyBuilder
/visualshop/.pybuilder/
/visualshop/target/

# Jupyter Notebook
/visualshop/.ipynb_checkpoints

# IPython
/visualshop/profile_default/
/visualshop/ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
/visualshop/__pypackages__/

# Celery stuff
/visualshop/celerybeat-schedule
/visualshop/celerybeat.pid

# SageMath parsed files
/visualshop/*.sage.py

# Environments
/visualshop/.env
/visualshop/.venv
/visualshop/env/
/visualshop/venv/
/visualshop/ENV/
/visualshop/env.bak/
/visualshop/venv.bak/

# Spyder project settings
/visualshop/.spyderproject
/visualshop/.spyproject

# Rope project settings
/visualshop/.ropeproject

# mkdocs documentation
/visualshop//site

# mypy
/visualshop/.mypy_cache/
/visualshop/.dmypy.json
/visualshop/dmypy.json

# Pyre type checker
/visualshop/.pyre/

# pytype static type analyzer
/visualshop/.pytype/

# Cython debug symbols
/visualshop/cython_debug/

# End of https://www.toptal.com/developers/gitignore/api/django